{% extends 'reservas/base.html' %}



{% block title %}Lista de Pagos{% endblock %}

{% block content %}
<h1 class="mb-4">Lista de Pagos</h1>
<a href="{% url 'crear_pago' %}" class="btn btn-success mb-3">Agregar Nuevo Pago</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Pasajero</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Método de Pago</th>
        </tr>
    </thead>
    <tbody>
        {% for pago in pagos %}
        <tr>
            <td>{{ pago.id_pago }}</td>
            <td>{{ pago.id_pasajero.nombre }}</td>
            <td>{{ pago.fecha }}</td>
            <td>{{ pago.pago_total }}</td>
            <td>{{ pago.metodo_pago }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No hay pagos registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}